:root {
    --header-bg-color: #7E0019;
    --header-color: #fff;
    --socials-links-color: #fff;
    --facebbok-color: #1B74E4;
    --twitter-color: #1DA1F2;
    --instagram-color: #CF2872;
    --nav-bg-color: #F4F5F7;
    --author-name-color: #7E0019;
    --footer-bg-color: #F4F5F7;
}